{% extends "base.html" %}


{% block title %} Mis Tareas {% endblock %}

{% block main %} 

<form action="" method="get">
  <input type="text" name="title" value="{{ request.GET.title }}" placeholder="Titulo de la tarea">
  <select name="status">
    <option></option>
    <option value="pending">Pendiente</option>
    <option value="in_progress">En progreso</option>
    <option value="completed">Completada</option>
  </select>
  <input type="submit" value="Buscar">
  <input type="reset" value="Reset">
</form>

<div>
    <a href="{% url "tasks_create" %}">Añadir Tarea</a>
</div>
<div>
    <ul id="tasks_list">
        {% for task in page %}
        <li> <strong>{{ task.title }} </strong> <br>
            {{ task.description }} <br><small> {{ task.status }} {{ task.created }} </small>
            <br><a href="{% url "tasks_update" task.uuid %}">Modificar</a>
            <a href="{% url "tasks_delete" task.uuid %}" class="delete_link">Eliminar</a>
        </li>
        {% empty %}

        <li> No hay tareas para mostrar</li>
        {% endfor %}
    </ul>
</div>

<div class="pagination">
    {% if page.has_previous %}
      <a href="?page=1">Primera</a>
      <a href="?page={{ page.previous_page_number }}">Anterior</a>
    {% endif %}
  
    <span class="current">
      Página {{ page.number }} de {{ page.paginator.num_pages }}.
    </span>
  
    {% if page.has_next %}
      <a href="?page={{ page.next_page_number }}">Siguiente</a>
      <a href="?page={{ page.paginator.num_pages }}">Última</a>
    {% endif %}
  </div>

  {% csrf_token %}
  <script>
    const imagesContainer = document.getElementById('tasks_list');
    const csrfToken = document.querySelector("[name='csrfmiddlewaretoken']").getAttribute("value")
    imagesContainer.addEventListener('click', function(event) {
        if (event.target.classList.contains('delete_link')) {
            event.preventDefault();
            
            if (confirm('¿Estás seguro de que deseas eliminar este elemento?')) {
                var deleteUrl = event.target.getAttribute('href');
                
                fetch(deleteUrl, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken
                    },
                })
                .then(response => {
                    if (response.status === 200) {
                        event.target.closest("li").remove()
                    } else {
                        alert('Error al eliminar el elemento.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }
        }
    });
</script>
{% endblock %}