{% extends "base.html" %}

{% block title %} {{ title }} {% endblock %}

{% block main %} 
<div>
    {% if errors %}
        hay errores
        {{ errors }}
    {% endif  %}
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar</button>
    </form>
    {% if task %}
    <form method="post" action="{% url "tasks_image_create" task.uuid %}" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="image">Selecciona una imagen:</label>
        <input type="file" id="image" name="image" accept="image/*" required>
        <button type="submit">Subir imagen</button>
    </form>
    
    <div>
        {% for image in task.images.all %}
        <img src="{{image.image.url}}" with="100" height="100">
        {% empty%}
        <small> Sin imágenes para mostrar </small>
        {% endfor %}
    </div>
    
    {% endif %}
</div>

{% endblock %}