{% extends "base.html" %}


{% block title %} Mis Tareas {% endblock %}

{% block main %} 
<div class="row p-2">
   {% include "tasks_list/search_form.html" %}
</div>
<div class="">
    <div class="m-2">
        <div class="d-flex justify-content-end ">
            <a href="{% url "tasks_create" %}" class="btn btn-outline-primary btn-sm"> <ion-icon name="add-outline" class="pt-1"></ion-icon> Añadir Tarea</a>
        </div>
    </div>
    <div>
       {% include "tasks_list/list.html" %}
    </div>
   {% include "tasks_list/pagination.html" %}
   {% csrf_token %}
{% endblock %}